{% extends 'general_setup.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>
            Create Role:
        </h1>
        <div class="row">
            <div class="col">

            <form action="/roles/create" method="POST">
                <label for="role_type">Name Of Role:</label>
                <input id = "role_type" name = "role_type"/>
                <input type="submit"/>
            </form>

            </div>

            <div class="col">
                <h3>
                    Navigator:
                </h3>
                <a href="/">Back To Index:</a>

            </div>
        </div>
    </div>

{% endblock %}
