{% extends 'general_setup.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>
            Manage Roles:
        </h1>
        <div class="row">
            <div class="col">
                <h3>
                </h3>
                    Existing Roles:
                    <ul>
                        {% for role in roles %}
                            <li>{{ role.type }}</li>
                        {% endfor %}
                    </ul>
            </div>

            <div class="col">
                <h3>
                    Navigator:
                </h3>
                <a href="/">Back To Index</a></br>
                <a href="/roles/create">Create Roles:</a>
            </div>
        </div>
    </div>

{% endblock %}
