<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Chat Room</title>
    </head>
    <body>
        <a href="/">Back To Index</a>
        <a href="/roles">Roles</a>
    </body>
</html>
